build/
bin/
lib/
.vscode/
.idea/
.cache/
CMakeLists.txt
compile_commands.json
gcc-toolchain.cmake
clang-toolchain.cmake
.clangd
.contest_metadata
.problem_times
*.out
*.exe
*.dSYM/
*.DS_Store

# Included for this workspace
!.vscode/*
!Makefile