build/
bin/
lib/
algorithms/
not_passed/
.vscode/
.idea/
.cache/*
CMakeLists.txt
gcc-toolchain.cmake
clang-toolchain.cmake
compile_commands.json
.clangd
.contest_metadata
.problem_times
*.out
*.exe
*.dSYM/
*.DS_Store